#menu-title
  %h1#content-title 
    #{@project.name} &raquo; Dashboard
#menu-actions
  = link_to("Experiments", yogo_projects_path, :class => 'icon icon-dashboard')
  |
  - if @project.yogo_model_uid
    = link_to("Experimental Design", kefed_editor_yogo_project_url(@project, :uid => @project.yogo_model_uid), :class => 'icon icon-exp-design')
    |
  = link_to("Experiment Settings", edit_yogo_project_path(@project), :class => 'icon icon-settings')
  