#menu-title
  %h1#content-title 
    #{@project.name} &raquo; Experimental Design
#menu-actions
  = link_to("Back", yogo_projects_path, :class => 'icon icon-back')
  |
  = link_to("Experiments", yogo_projects_path, :class => 'icon icon-dashboard')
  |
  = link_to("Experiment Dashboard", yogo_project_path(@project), :class => 'icon icon-projects')
  