.icon
  background-position: 0% 50%
  background-repeat: no-repeat
  padding: 2px 0px 3px 20px

#loader
  display: none
  left:  200px
  
// Small icons for inline use
.icon-projects
  background-image: image-url('icons/22x22/projects.png')
  padding-left: 25px
.icon-users
  background-image: image-url('icons/22x22/users.png')
  padding-left: 25px
.icon-roles
  background-image: image-url('icons/22x22/role.png')
  padding-left: 25px
.icon-settings
  background-image: image-url('icons/22x22/settings.png')
  padding-left: 25px
.icon-exp-design
  background-image: image-url('icons/22x22/expdesign.png')
  padding-left: 25px
.icon-private
  background-image: image-url('icons/private_16.png')
  background-position: 100% 15%
  padding-right: 25px
  padding-left: 0px
.icon-add
  background-image: image-url('icons/22x22/list-add.png')
  padding-left: 25px

// Large icons for the menubar
.icon-add-large
  background-image: image-url('icons/32x32/list-add.png')
  padding-left: 30px
  padding-top: 5px
.icon-back-large
  background-image: image-url('icons/32x32/go-previous.png')
  padding-left: 30px
  padding-top: 5px

// Assorted other icons
.icon-collapsed
  background-image: image-url('icons/expand.png')
.icon-expanded
  background-image: image-url('icons/minus.jpg')
.icon-edit 
  background-image: image-url('icons/edit.png')
.icon-copy
  background-image: image-url('icons/copy.png')
.icon-delete
  background-image: image-url('icons/delete.png')
.icon-move
  background-image: image-url('icons/move.png')
.icon-save
  background-image: image-url('icons/save.png')
.icon-cancel
  background-image: image-url('icons/cancel.png')
.icon-pdf
  background-image: image-url('icons/pdf.png')
.icon-csv
  background-image: image-url('icons/csv.png')
.icon-html
  background-image: image-url('icons/html.png')
.icon-image
  background-image: image-url('icons/image.png')
.icon-txt
  background-image: image-url('icons/txt.png')
.icon-file
  background-image: image-url('icons/file.png')
