.small.centered.rbox.dashed
  %h2 Choose an Existing<br />Experimental Design to Copy
  - for project in (Yogo::Project.all - @project)
    - design = @experimental_designs.select{|e| e.uid == project.yogo_model_uid.to_s.upcase}.first
    %h3= link_to(project.name + ': ' + design.model_name, 
          kefed_editor_yogo_project_url(@project) + "?uid=#{design.uid}&editor_action=copyModel", 
          :class => 'icon icon-blueprint')
      
    / -# for design in @experimental_designs
    /        %li=# link_to(design.model_name, 
    /                    kefed_editor_yogo_project_url(@project) + "?uid=#{design.uid}&editor_action=copyModel", 
    /              :class => 'button-link')
  %h2 Or
  
  %h3= link_to('Create A New Experimental Design', 
    kefed_editor_yogo_project_url(@project, :editor_action => 'createModel'), 
    :class => 'icon icon-blueprint-add')
