=clear_break
%iframe(name='kefedFrame' id='kefedFrame' src="#{kefed_editor_swf_url}#{@kefed_params}")
  %p Your browser does not support iframes.

:javascript
  document.domain = '#{(Rails.env == 'development') ? 'localhost' : 'crux.msu.montana.edu'}';
  var kefed_frame = $('iframe#kefedFrame');
  var saved = false;
  kefed_frame.load(function() {
    //console.debug(this);    
    //console.debug($(this).contents().find('#kefedStatus').contents());
    this.contentWindow.editorCallback = function(params){
      //alert("parent page" + params); 
      target = $('#kefed_finish').attr('href');
      if(!saved){
        $('#kefed_finish').attr('href', target + '?uid=' + params.uid);
        $('#flash').html("<a href='#{add_kefed_diagram_yogo_project_url(@project)}?uid=" + params.uid + "'>Experimental Diagram Saved, Click Here to Finish</a>");
        saved = true;
      }
    };
  });

.text-center
  / =# link_to("Cancel",   yogo_projects_url, :class => 'big-button-link')
  / =# link_to("Finish & Continue", add_kefed_diagram_yogo_project_url(@project), :class => 'big-button-link', :id => 'kefed_finish', :style => 'display: none;')
